<h1>Bonjour! Veuillez confirmer votre email!</h1>

<p>
    S'il vous plait confirmer votre adresse mail en cliquant sur le lien qui suit: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse</a>.
    Ce lien va expirer dans {{ expiresAt|date('g') }} heure(s)
</p>

<p>
    Cheers!
</p>
