
.carousel {
    position: relative;
}

.carousel-caption  {
    position: absolute;
    background: rgba(0,0,0,0.4);
    padding: 15px 10px;
    right: 5%;
    text-align: left;
    max-width: 500px;
    left: auto;
    top: 20%;
    bottom: auto;

}
.carousel-caption h3 {
    font-size: 2em;
}
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}
.fond-violet{
    background-color: #7e5aa4;
}