{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="text-danger mt-5"> Ici l'interface de payment bientot, retrouver vos commande dans la gestion de vos compte</h1>
        <a href="{{ path('mescommande') }}" class="btn btn-outline-success d-block ml-auto"> Cliquez moi ! </a>
    </div>
{% endblock %}